*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: white;
}

.heading{
    background-image: url("https://easyfit.in/Uploads/Blogs/Blog_2432020163754.jpg");
    background-repeat:no-repeat ;
    background-size: 100%;
    overflow-x: hidden;
    width: 100%;
    height: 800px;
    
} 
.one li{
    display: flex;
    cursor: pointer;
    margin: auto;
    padding: 0%;
    font-size: 20px;
}
ul li{
    display: flex;
    padding-left: 20px;
}

ul{
    display: flex;
}


.one h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: larger;
    font-size: 70px;
    margin: auto;
    text-align: left;
    padding: 150px;
}
.home h1{
    background-color: #05070c;
    padding: 15px;
}
 .hover h2{ 
    color: black;
    font-size: 2.7rem;
    left: 10px;
    display: flex;
    line-height: 15px;
     text-align: center;
     align-items: center;
    justify-content: center;
    letter-spacing: 1px;
     margin: 0px;
     bottom: -15pt;        
     top: 200;
     position: relative;
     padding: 10px;
        }

    
      .hover p{
             color: rgb(46, 47, 48);
              position: relative;
               font-size: 20px; 
               top: 25px;
               padding: 10px;
         }

         .hover span{
            display: flex;
            line-height: 25px;
            font-weight: 500;
             color: #2b07ad;
             position: relative;
             text-align: center;
             align-items: center;
             justify-content: center;
             letter-spacing: 1px;
              font-size: 3rem;
              margin: 0px;
               bottom: 100%;
               padding: 20px;
            }

       .hover img{
            height: 350px; 
            width: 1000px;
             margin: 20px;
             bottom: 100px;
             text-align: center;
             align-items: center;
             justify-content: center;
            }
            
.last h1{
    background-color: rgb(0, 0, 0);
    padding: 15px;
}
 .laster , .lastest  , .fastest {
    border: 2px solid black;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    display: inline-block;
    
}
.laster img, .lastest img, .fastest img{
    margin: 50px;
}

.images {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    
}
.coin h2{
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.coin p{
    padding: 20px;
    font-size: larger;
}
.para {
    position: relative;
    top: 150px;
    left: 150px;
    z-index: 0;
   
    
}
.para h1 {
    margin: auto;
    padding: 15px;
    color: white;
}

.map{
   
    padding: 20px;
    margin: 20px;
}
.world{
    display: flex;
    background-color: #F07F74;
    height: 570px;
}

 .span{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    bottom: 100%;
    padding: 10px;
}
.head h2{
    text-align: center;
    padding: 10px;
}
.head span{
    display: flex;
     line-height: 25px;
     font-size: 2.2rem;
     color: #970566;
     letter-spacing: 1px;
     font-weight: 300;
     margin: 0px;
     bottom: 100%;
     text-align: center;
}
.head h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#05070c ;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    bottom: 100%;
}
.box-container{
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
    
}
.box{
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    text-align: center;
    box-shadow: 5px 5px 30px rgba(48, 4, 207, 0.15);
    border-radius: 10px;
    background-color: rgb(245, 239, 242);
    margin: 20px;
    flex-grow: 1;
}
.box img{
    height: 150px;
    margin: 10px;
}
.box strong{
    font-size: 1.5rem;
    color: #060607;
    letter-spacing: 1px;
    font-weight: 700;
}
.box p{
    font-size: 1rem;
    color: #262829;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.hlp h1{
    background-color: #05070c;
    padding: 15px;

}
.hlp h2{
    font-size: 30px;
    padding: 10px;
    color: #970566;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hlp img{
    padding: 10px;
}
.hlp h3{
    font-size: 25px;
    padding: 10px;
    color: #970566;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .hlp p{
     font-size: larger;
     padding: 10px;
 }
 .table {
     border: 2px solid black;
     border-radius: 5px;
     padding: 10px;
     margin: 20px;
     width: 400px;
 }
 .table  th{
     font-size: 25px;
     font-weight: 300;
     padding: 10px;
 }
 .table  td{
     font-size: large;
     padding: 5px;
     margin: 30px;
 }
 .link a{
     color: #0a3194;
     text-decoration: underline;
 }
 .link{
     padding: 10px;
 }

.tail {
   margin:150px 0 0 200px ;
}

.footer h2{
    padding: 20px;
    background-color: black;
}

.down, .tail{
    height: 500px;
}
.down {
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    padding: 30px;
    margin: 100px;
    float: right;
    color: black;
    
}
.down p{
    padding: 20px;
    font-size: larger;
    text-align: left;
    font-size: 25px;

}

.down table{
    padding: 10px;
    font-size: larger;
}
.tail p{
    text-align: left;
    margin: 15px;
    font-weight: 800;
    font-size: larger;
}


.tail img{
  padding: 15px;
}
.button button{
    margin-left: 45%;
}
.E{
    background-color: #05070c;
    display: inline-block;
    width: 100%;
    height: 80px;
    
  }
 .A{
     display: flex;
     flex-direction: row;
     float: left;
     padding: 5px;
     margin: auto;
 } 
 .A img{
     background-color: white;
 }
 .d{
     display: grid;
     float: right;
     padding: 25px;
     margin: 5px;
     color: white;

 }
 .a , .b , .c{
     padding: 20px;
     color: white;
 }
 @media(max-width:1395px){
     .laster , .lastest, .fastest {
         display: grid;
         grid-template-rows: auto;
         padding: 10px;
         
     }
     
     .para h1{
         padding: 10px;
         margin: 10px;
     }
     .para{
         position: relative;
         top: 150px;
         left: 80px;
     }
 }
 @media(max-width:1290px){
     .para h1{
         padding: 5px;
         margin: 5px;
     }
     .para{
         position: relative;
         top: 150px;
         left: 50px;
     }
 }
 @media(max-width:1250px){
     .world{
         display: grid;
         grid-template-rows: 20% 80%;
     }
     .map{
         margin: auto;
     }
     .para{
        margin: auto;
     }
 }
 @media(max-width:1130px){
      .tail{
         
        margin: 150px 0 0 100px ;
    
         }
        }
  @media(max-width:1038px){
      .hover img{
          width: 800px;
      }
  } 
  @media(max-width:975px){
      .images{
          display: grid;
          grid-template-columns: auto;
          grid-gap:10px;
      }
  }     
@media(max-width:970px){
    .tail{
        margin: auto;
    }
    .footer{
         display: grid;
         grid-template-columns: auto;
         height: 850px;
    }
    .down{
        margin: 100px;
        margin-right: 20%;
    }
}
 @media(max-width:950px){
     .images img{
         width: 200px ;
         height: 100px;
     }
 }
 @media(max-width:860px){
     .one h1{
    font-weight: large;
    font-size: 50px;
    margin: 20px;
     }
     .map img{
        width: 600px;
        margin: auto;
     }
 }
@media(max-width:835px){
    .hover img{
        width: 600px;
    }
}
@media(max-width:750px){
    .one h1{
        font-weight: medium;
    font-size: 40px;
    margin: 10px;
    }
}
@media(max-width:665px){
    .down{
        padding: 15px;
        margin: 50px ;
        width: 350px;
    }
    .down p{
        padding: 10px;
    }
}
@media(max-width:650px){
    .hover img{
        width: 500px;
        height: 300px;
    }
    .images img{
        width: 150px ;
        height: 100px;
        padding: 10px;
    }
    .map img{
        width: 450px;
        height: 300px ;
        margin: auto;
     }
     .para h1{
         padding: 5px;
         margin: 5px;
     }
}
@media(max-width:620px){
    .one li{
        font-size: 10px;
    }
}
@media(max-width:560px){

}
@media(max-width:525px){
    .tail{
        margin: auto;
    }
    .down{
        padding: 8px;
        margin: 25px;
        width: 350px;
    }
    .down p{
        padding: 5px;
    }
    .footer{
        height: 700px;
    }
    
}
@media(max-width:450px){
    
    .down{
        padding: 5px;
        margin: 15px;
        width: 270px;
        height: 250px;
    }
    .down p{
        padding: 3px;
        font-size: 20px;
    }
    .down table{
        font-size: 10px ;
    }
    .footer{
        height: 570px;
    }
}
@media(max-width:300px)  {
   *{
    width: 100%;
    
   }
    
}
@media(max-width:500px) {
    .heading {
        
        background-image: url("https://images.unsplash.com/photo-1584467735815-f778f274e296?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y292aWR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
        
        background-repeat: no-repeat; 
        background-size: 100%;
        height: auto;
    
    }
    
}